.photo {
    height: 100px;
    margin-bottom: 20px;
    background-color: #fff5e6;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.iconprofile {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #05314b;
    padding: 10px;
}

.iconprofile img {
    width: 50px;
    height: 50px;
}

.descript {
    display: inline-block;
    vertical-align: top;
}

.descript p {
    margin: 0;
}

.nameprofile {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #05314b;
    margin-bottom: 10px;
}
