.nav {
    grid-area: navbar;
    background-color: #fff5e6;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding: 5px 0;
    border-radius: 5px;
}

.nav ul li a {
    font-size: 17px;
    padding-left: 10px;
    color: #05314b;
}

.nav ul li a.activeLink {
    color: brown;
    font-weight: bold;
}

.nav ul li:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,055,0,011);
    box-shadow: 0px 0px 5px 0px rgba(0,055,0,011);
    cursor: pointer;
    background-color: #fff;
}

.settings {
    margin-top: 20px;
}