.maincontent {
    width: 90%;
    border-radius: 10px;
}

.photo {
    height: 100px;
    margin-bottom: 20px;
    background-color: #fff5e6;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.iconprofile {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #05314b;
    padding: 10px;
}

.iconprofile img {
    width: 50px;
    height: 50px;
}

.descript {
    display: inline-block;
    vertical-align: top;
}

.descript p {
    margin: 0;
}

.nameprofile {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #05314b;
    margin-bottom: 10px;
}

.myposts h3 {
    font-weight: normal;
    font-size: 30px;
}

.news {
    width: 100%;
    border: none;
    background-color: rgba(115, 115, 115, 0.2);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.button {
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: transparent;
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}

.button:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,055,0,011);
    box-shadow: 0px 0px 5px 0px rgba(0,055,0,011);
}