a {
  color: black;
  text-decoration: none;
}

.app-wrapper {
  display: block;
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 250px;
  border: 1px solid deepskyblue;
  border-radius: 5px;
}

.content {
  display: flex;
}