a {
  color: black;
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "header header header" "navbar profile profile" "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 15% 1fr 0;
  grid-gap: 10px;
  height: 100vh;
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 250px;
}

.app-wrapper-content {
  border-radius: 10px;
  grid-area: profile;
}